[2014-08-11 13:23] haudiobe opened #1 "More Restrictive Play-order"
In 1.2.1: How about adding the capability to specify a play order constraint?  It seems that the provider would like a requirement that the xlink must play before some other specified segments from the MPD.

[2014-08-11 13:27] haudiobe opened #2 "Ad Blocker"
Removing the in-MPD element for the ad gives the end user incentive to run an ad blocker.  What about still supporting a blank period for the ad to reduce the incentive?  This will create more incentive to create ad supported content.

[2014-08-11 13:28] haudiobe opened #3 "Period Start"
In 1.2.2.1 This seems wrong.  You're providing Period@start in both cases, so why would the second case only indirectly compute PeriodStart?

[2014-08-11 13:29] haudiobe opened #4 "Conformance Requirements for DASH Events"
1.2.3: Should the impact on the DASH player to expose these events be specified?  Otherwise, if these events are purely between the server and the DASH client, does it need to specified?  In the previous paragraph it was clear that the DASH client needed to support a timer.  It isn't clear what support is required here.

[2014-08-11 13:31] haudiobe opened #5 "MPD@publishTime"
1.2.4: How about replacing with a monotonic counter?  It seems simpler than having to put a timestamp, since it also satisfies the need to know that larger counter MPDs include smaller counter ones.

[2014-08-11 13:32] haudiobe opened #6 "HTTPS [or OATC???]"
1.2.5: Certificate provisioning for the client seems like a big task.  It also creates a stronger form of personally identifiable information that has its own risks.

[2014-08-11 13:39] haudiobe opened #7 "Tracking and Recording"
1.2.6: It seems like there should be something specific for ads here.  We're not as concerned about the video, but there should be something that verifies that the client at least downloaded the ad.  What about a cookie from the ad server?

[2014-08-11 13:40] haudiobe opened #8 "Ad Decision Server"
Figure 2: What does the Ad Decision Server do?  Does it live within the DASH Client?  I suspect that the XLink Resolver does, too.  I suggest delineating between the components that reside within the cloud and those that reside within the client.

[2014-08-11 13:41] haudiobe opened #9 "Privacy"
3.2.1.1.1 Placing personally identifiable information in a URL request header seems like a compromise of my privacy.  This needs to be HTTPS or a cookie that the content provider issued and then separately communicates the demographics to the ad provider.

[2014-08-11 13:44] haudiobe opened #10 "Low Latency"
6.1.3.2.4: This doesn't take into account network latency.  if 2xMBT < 2xRTT, the client may not have enough time to request the content.  I agree that 2xMBT is a good lower bound for the request, but there are cases where the request should come even earlier.  Would it be better to also consider the MPD Validity Expiration must come at least 2 segments before the ad is to play or EPT whichever co

[2014-08-11 13:45] haudiobe opened #11 "Typos"
Overall: Hanging parapgraphs
1.2: Remote elements at the end of 1.2
4.1.3: Cross reference error.  Section 6.1.1.2.2, I'm guessing should go here.
4.2.1: Line 8 - drop a
4.2.1: Broken Reference
6.2.1.2.1: Broken Reference

[2014-08-11 15:16] MillarKeith opened #12 "Mix of Events and xLinks"
1.  It should be made clear that “Events” are automatically expired at the end of a Period. So for example you can’t use a mix of remote periods and “Events” within the same MPD for Ad insertion signalling. This is because the “Event” will no longer be valid once the Ad Period Starts and so in theory the device should ignore the “event”, and even if it was interpreted during the previous Period th

[2014-08-11 15:16] MillarKeith opened #13 "Remote Period shall return a Start Attribute"
1.  Setting of the Start attribute within an Ad Period:  When using Remote Periods the data returned completely replaces the original MPD Period. This means that any “start” attribute is lost, and the remote server must include it within the data returned. It is difficult for a remote server to provide this information and so perhaps should be passed within the Remote Period request.

[2014-08-11 19:41] wendell74 opened #14 "section 3.2.1.5 early termination"
Early termination of an ad as outlined may work only in a few situations. This section talks about cutting short an ad to switch to breaking news. Ads may be pre-packaged and put on an Origin or Edge. So once the ad-insert system directs a client to an ad-manifest and ad-segments, any ‘emsg’ at the packager (in the main content) is not seen by the client until it comes back from the complete ad-br

[2014-08-11 21:07] alexgiladi commented on #12
Accepted

[2014-08-11 21:08] alexgiladi commented on #11
Accepted

[2014-08-11 21:11] alexgiladi commented on #9
Agreed. We need to show how this is done using cookies.

[2014-08-13 21:59] mcntech opened #15 "Allowing dIfferent segment duration for pre-packaged advertisements"
Pre-packaged advertisements may have different segment duration compared to live content. The MPD attribute maxSegmentDuration  may be defined as  overridable by a similar attribute of period  element. This allows players to change the segment fetching algorithms suitably.

[2014-08-15 15:41] kstreeter opened #16 "Allow for MPD-based ad signaling in app-driven, live workflow"
The current text of section 6.2.2 in v0.5 states that content must include an InbandEventStream containing events of type "urn:scte:scte35:2013:bin".  This is a valid interop point, but it is also common to signal these events directly in the MPD.  We should alter the text to require either inband or MPD based signaling.

[2014-08-23 20:23] ZmGorynych commented on #16
Accepted. We can require either "urn:scte:scte35:2013:bin" inband, or "urn:scte:scte35:2013:xml" in MPD

[2014-08-23 20:55] ZmGorynych commented on #15
Standards changes should be addressed by MPEG. We will submit this as a part of DASH-IF input to the next meeting.

[2014-08-23 20:56] ZmGorynych commented on #14
We don't have a solution to this problem in the standard.

[2014-08-23 21:19] ZmGorynych commented on #13
Accepted.

[2014-08-23 21:25] ZmGorynych commented on #12
Sum of Event@presentationTime and Event@duration shall never exceed period duration

[2014-08-23 21:52] ZmGorynych commented on #7
Section 3.2.6 shows a way of doing this with VAST.

[2014-08-23 22:13] ZmGorynych commented on #1
Makes sense. We can consider embedding SCTE 130-10 into Period.

[2014-08-23 22:16] ZmGorynych commented on #3
Fixed.

[2014-08-23 22:23] ZmGorynych commented on #4
Clarified. We need to allow the application to register event-specific callbacks.

[2014-08-23 22:32] ZmGorynych commented on #6
Removed.

[2014-08-26 15:31] irajs opened #17 "Define the URI for Interop Points"
1- Interop URIs: addressed.
2- Reduce the number of interop points.
3- A table summarizing the IOP list and the differences would help.
4- We need to check also if we have an equivalent interop point for DVB DASH profile.
5- How does these interop points relate to DASH-IF IOP V2.0/3.0? How does the signalling works in MPD ? (need a section in intro to address this even if the IOPs are used in para

[2014-08-26 16:28] alexgiladi commented on #17
Will be addressed

[2014-09-04 12:41] haudiobe opened #18 "Publicly Submitted Issue"
Submitter: hossein
Email: h.mir7767@gmail.com

[2014-10-16 08:26] haudiobe opened #19 "Publicly Submitted Issue"
Submitter: Declan Harrison
Email: declan.harrison@owmobility.com

[2014-12-03 22:11] ZmGorynych commented on #10
Precise timing removed.

[2014-12-04 00:03] ZmGorynych commented on #19
No comment provided.

[2014-12-04 00:03] ZmGorynych commented on #18
No comment provided.

[2014-12-04 01:26] ZmGorynych commented on #15
1. Use of this attribute is not recommended in case where all period characteristics are not known at MPD parse time.
2. Ask MPEG for clarification and ask whether this can be done period-wise;
3. Put authoring constraints on changing (sub)segment length. In general, restrict cross-period changes in codecs etc.
4. Discuss buffering issues including this.

[2014-12-04 01:48] ZmGorynych commented on #14
In general, you need to keep downloading event-bearing part of the period.
In server-driven case shorter inserted periods can help avoiding the issue
This is easier done in app-driven case if the "main" presentation is continually downloaded despite not being played.

[2014-12-04 01:53] ZmGorynych commented on #2
Trusted client issue

[2014-12-04 01:57] ZmGorynych commented on #5
Not follows the standard.

[2015-02-06 03:50] haudiobe opened #20 "Publicly Submitted Issue"
Submitter: Deep Trikannad
Email: deep@trikannad.com
I'm trying to get xlink:href to work as per the specified document, but the reference dash player for 1.3 (http://dashif.org/reference/players/javascript/1.3.0/samples/dash-if-reference-player/index.html) errors on DashManifestExtensions.js:423 Uncaught TypeError: Cannot read property 'length' of undefined

My xlink:href is probably wrong as it p

[2015-08-21 15:00] dsilhavy opened #21 "Notes on IOP 3.0 Ad insertion guidelines"
Hi,
two minor things i noticed when reading through the IOP 3.0 guidelines.

1) Page 71: "Once a remote element entity is resolved into a fully specified element, it may contain an @xlink:href attribute, which contains a new XLink URL allowing repeated solution" --> I think it should be mentioned that repeated solution for xlink:actuate = "onLoad" is not allowed because this might lead to a circul

[2019-06-07 14:11] #8 closed, assigned to nobody

[2019-06-07 14:11] #9 closed, assigned to nobody

[2019-06-07 14:11] #11 closed, assigned to nobody

[2019-06-07 14:11] #16 closed, assigned to nobody

[2019-06-07 14:11] #1 closed, assigned to nobody

[2019-06-07 14:11] #3 closed, assigned to nobody

[2019-06-07 14:11] #4 closed, assigned to nobody

[2019-06-07 14:11] #7 closed, assigned to nobody

[2019-06-07 14:11] #12 closed, assigned to nobody

[2019-06-07 14:11] #13 closed, assigned to nobody

[2019-06-07 14:11] #6 closed, assigned to nobody

[2019-06-07 14:11] #10 closed, assigned to nobody

[2019-06-07 14:11] #17 closed, assigned to nobody

[2019-06-07 14:11] #18 closed, assigned to nobody

[2019-06-07 14:11] #19 closed, assigned to nobody

[2019-06-07 14:11] #2 closed, assigned to nobody

[2019-06-07 14:11] #5 closed, assigned to nobody

[2019-06-07 14:11] #14 closed, assigned to nobody

[2019-06-07 14:11] #15 closed, assigned to nobody

[2019-06-07 14:11] #20 closed, assigned to nobody

[2019-06-07 14:11] #21 closed, assigned to nobody

[2019-06-07 14:12] haudiobe opened #22 "Update splice scenario"
See inline

[2019-06-07 14:12] haudiobe opened #23 "Update Visio"
See inline. Thomas to do so based on comments from Zach

[2019-06-07 14:43] haudiobe opened #24 "Add update to Conditioning in IF-2"
Thomas

[2019-06-07 14:46] haudiobe opened #25 "Mandate in IF-3 the Event"
Add a comment

[2019-06-07 14:47] haudiobe opened #26 "Add a statement that IF-1 is conceptual"

[2019-06-12 14:15] haudiobe commented on #22
addressed in latest version, please check clause 1.1.1.5 https://1drv.ms/w/s!AiNJEPgowJnWgddH3qMKzknnTw9FBg

[2019-06-12 14:15] haudiobe commented on #23
addressed in latest version https://1drv.ms/w/s!AiNJEPgowJnWgddH3qMKzknnTw9FBg

[2019-06-12 14:16] haudiobe commented on #24
addressed in latest version:  https://1drv.ms/w/s!AiNJEPgowJnWgddH3qMKzknnTw9FBg

[2019-06-12 14:19] haudiobe commented on #25
addressed in latest version: https://1drv.ms/w/s!AiNJEPgowJnWgddH3qMKzknnTw9FBg

[2019-06-12 14:19] haudiobe commented on #26
addressed in latest version: https://1drv.ms/w/s!AiNJEPgowJnWgddH3qMKzknnTw9FBg

[2019-06-21 13:11] RufaelDev opened #27 "IF-1 Section needs correction"

[2019-06-21 13:13] RufaelDev opened #28 "addressing the use cases"
in the current document use cases are only partially addressed

[2019-06-21 13:23] RufaelDev opened #29 "additional text added in IF-2 needs to be reviewed"

[2019-06-21 13:28] RufaelDev opened #30 "add alternative tracking methods"
in section IF-8 ad alternative tracking as option not only VAST or Open Measurement

[2019-07-03 00:38] technogeek00 commented on #23
Looks good based on comment updates

[2019-07-03 00:38] #23 closed, assigned to nobody

[2019-07-03 00:42] technogeek00 commented on #28
If you already have notes on the examples of cases not addressed can you describe them here? Quick glance it primarily looks to be the pre-roll live case, which we may want to move to not in scope of this document.

[2019-07-09 16:40] technogeek00 commented on #22
In general seems fine, it may be good to detail that these splice points are where downstream components may decide to insert / replace ads.

Additional question around this line:

Should this be "...the conditions **should** be carried through..." since we want this data coming out of the encoder over IF-1. Having this as a should would align with our assumptions in the IF-1 section.

[2019-07-09 16:46] technogeek00 commented on #26
I believe this was when IF-1 was the configuration to the encoder/packager, we've renamed this to IF-1' and described it as conceptual within 1.2.2 IF-1: Packager Ingest (second paragraph). ~Considering this resolved.~

[2019-07-09 16:51] technogeek00 commented on #26
Should we actually remove the IF-1' reference from the diagram? It looks like we never explicitly address what the form of said interface could be and it really has no effect on the architecture. I think the illustration of configuration being provided in the diagram and a comment on external configuration availability is enough for this.

[2019-07-09 17:14] technogeek00 commented on #25
Agreed with Rufael as an additional update: For community review lets remove description of DASH Inband Event Messages as a possibility and only bring it back if significant concern is raised in community review.

[2019-07-09 17:17] technogeek00 opened #31 "IF-4 Interface Clarification"
From Rufael:

On the request side there appears to be no standard interface, but the responses are heavily standardized around VAST/VMAP. We can clarify the recommendation of VAST further as the response side, but should we also clarify there is no standard request structure?

[2019-07-09 17:19] technogeek00 opened #32 "IF-3 Metadata format paragraph"
On the paragraph:

From Rufael:

I added this text as part of our goal to explicitly call out normative and informational components of this spec. As the data format is not normative this seemed appropriate and frames the subsequent section. We could shift the statement of information only to the subsequent section, but I think it is important to have.

[2019-07-09 17:28] technogeek00 opened #33 "Mandate MPD Events in IF-6"
Similar to IF-3, should we mandate only the usage of MPD Events in IF-6?

[2019-07-09 17:32] technogeek00 commented on #30
I believe this is covered by the addition of section 1.2.10.4?

[2019-07-09 17:36] technogeek00 commented on #24
Considering this resolved, let's open new issues to comment on the conditioning changes.

[2019-07-09 17:36] #24 closed, assigned to haudiobe

[2019-07-09 17:36] technogeek00 commented on #27
Can you elaborate here or point to an inline comment?

[2019-07-09 17:40] technogeek00 opened #34 "Architecture Diagram Normative vs Informative Identification"
Per Thomas:

[2019-07-09 17:44] technogeek00 commented on #22
Number of additional comments within the Word Doc that should be addressed as well

[2019-07-09 17:49] technogeek00 opened #35 "Usage of Initialization Sets"
MPD generation information added to IF-2 adds in the Initialization Set concept, this is the first usage of initialization set within the IOP (though other usage may be under other community reviews).

Rufael has raised additional concerns:
- Constraining to usage of initialization sets over normal init segments
- Common header usage within initialization sets over per track headers

We should gen

[2019-07-09 17:55] technogeek00 commented on #29
Everyone, please open specific tickets to capture comments or concerns, reminder in email that is being sent.

[2019-07-09 17:55] #29 closed, assigned to nobody

[2019-07-10 07:13] haudiobe commented on #28
It would be good to add a note in the Ad Insertion CR in the use cases, which ones are addressed and which one not. I expect that MPEG will support work and we can update the document when the new use cases are addressed.

[2019-07-16 12:08] unifiedstreaming commented on #33
inband events may make sense to use for IF-6, as they can be understood by the player, but are harder to detect for ad blocking software,  i don't think that inband events have to be excluded, even though in some cases MPD events may make more sense.

[2019-07-16 12:12] unifiedstreaming commented on #32
no we need to be very clear and specific on the formatting requirements for interoperability, this text is too vague and should be removed. Especially we should recommend the schemes defined in SCTE 214 in order to avoid fragmentation in the industry

[2019-07-16 12:15] unifiedstreaming commented on #31
I think everyone would benefit from some text here, would it be beneficial to define request scheme in DASH-IF using VAST/VMAP?

[2019-07-16 12:16] unifiedstreaming commented on #30
I agree on that

[2019-07-16 12:19] unifiedstreaming commented on #28
in my opinion, live and recorded live are covered, vod is covered to some extent (albeit implicitly), i beleive the preroll to live and obfuscation are not covered. It may be beneficial for the industry to have a method for preroll into live, the obfuscation may be left out of scope or covered in a later stage. We could add this as notes, especially for these last two use cases MPEG may support.

[2019-07-16 12:23] unifiedstreaming commented on #27
This was discussed during one of the conference calls, progress was made, I still beleive more review of the discussion around the text of splice points is needed which was a recent addition to the text, especially the mapping to CMAF presenations and timeline origins

[2019-07-16 12:24] unifiedstreaming commented on #26
I think it still has value to keep this, as many exisiting deployments use this architectural distinction, it is NOT conceptual but a real interface affecting the majority of large scale streaming platforms today

[2019-07-19 12:22] haudiobe opened #36 "Formats for Ads"
https://docs.google.com/document/d/1yxJh5F28F-JMVLyeDfolNtBKi1uvZsQb50m5rre3l_U/edit?usp=sharing

[2019-07-19 14:08] technogeek00 commented on #28
Thomas has added Overview 1.1.1.1 to state we explicitly worked on LIVE and Transition issues, others will be expanded on overtime.

[2019-07-19 14:11] technogeek00 commented on #34
IF-1' should be mentioned in IF-1 text. Already in table

[2019-07-19 14:11] #28 closed, assigned to nobody

[2019-07-19 14:19] technogeek00 commented on #34
Agreed to do, Thomas will complete

[2019-07-19 14:21] technogeek00 commented on #26
We will ensure IF-1' is mentioned in IF-1, it is valuable to have the configuration called out.

[2019-07-19 14:27] technogeek00 opened #37 "IF-1 Splicing Logic Diagram"
Updates asked of the diagram:
- Pull detail text out of graphic, ensure assumptions captured in details
- Align names "encoder output" vs "output"
- Use CMAF terminology appropriate to what the diagram is showing
- Clarify internal structure splits such that colors have explicit meaning

Rufael will provide diagram source, either Rufael or Thomas will handle changes.

[2019-07-19 14:34] technogeek00 opened #38 "Clarification of CLT/Pre-Announcment/Avail Time"
Text in IF-2 introduced concept of change lead time (CLT) but there is disagreement of if this is the correct term, there was discussion on the call and this is important to call out, this is basically the interval clients must attempt to find new period updates on, but there is better industry terminology to align on.

[2019-07-19 14:35] technogeek00 commented on #38
Will be updated to Avail Time terminology

[2019-07-19 14:38] technogeek00 commented on #35
We will:
- make Initialization Sets an optional functionality
- Refer to CTA WAVE master header definition for common header

Thomas to provide updates to points in document.

[2019-07-19 14:48] technogeek00 commented on #32
Remove exclusion of scope from the document, make listed examples recommendations

[2019-07-19 15:22] technogeek00 commented on #36
Through discussion on call it was identified we want to split the decisioning interface and the ad content format into separate interfaces. Decisioning interface will carry the information of the content format.

The content format needs definition, from call:
- Segments should be CMAF conforming
  - Make it a recommendation
  - Assume this is the case and leave non-CMAF content as needing detail

[2019-07-19 15:26] technogeek00 commented on #31
Longer discussion captured missing clarity here: https://github.com/Dash-Industry-Forum/AdInsertion/issues/36

We will also provide recommendation of usage of VAST and specify additional options like SCTE-130

[2019-07-22 13:29] sandersaares opened #39 "What are the mechanisms?"
The CR contains use case statements such as:

Yet there is no obvious text that says how this is meant to be done. I would expect all statements in the use cases chapters to be backed up by some "mechanisms" chapter that defines how these decisions are made (e.g. how is content "terminated early", how this mechanism interacts with all the other mechanisms in DASH, etc). That might be followed by a

[2019-07-22 13:33] sandersaares opened #40 "Numbered interfaces are hostile to reading comprehension"
As a reader unfamiliar to the document, all these IF-X numbers are meaningless to me. Give the interfaces names, please. "The inputs of IF-2 and IF-3" is only as meaningful as the word "Something" in my eyes. Whereas "The inputs from the Content Preparation interface and the Ad Avail Signaling interface" is far more understandable.

[2019-07-22 13:38] sandersaares opened #41 "Gaps should not be tolerated"
The CR text says that gaps in the timeline can happen.

This contradicts the timing model chapter in v5, which does not tolerate any gaps.

Ad insertion features of DASH should be designed to operate without any gaps anywhere, in any situation. A feature that leaves a gap needs to be redesigned.

[2019-07-22 13:57] sandersaares opened #42 "Stream preconditioning for segment break points is unnecessary complexity"
The CR contains statements such as:

I realize that only doing period switching at segment boundaries can be useful in increasing compatibility but a core principle of the proposed v5 timing model is that you can cut periods at any point, regardless of segment boundaries.

We should expect clients to implement this and provide good test vectors to assist client authors.

As such, I do not consider

[2019-07-23 11:25] sandersaares opened #43 "Specify a single way to things unless very good reasons exist"
Specifications that leave the door open for multiple ways to implement things do not achieve the maximum level of interoperability possible. There should only be multiple ways to do things if there are substantial differences and those differences are explained in the guideliens ("do X if A, do Y if B").

The ad insertion CR currently seems very open ended in various ways. For example, should pack

[2019-07-26 03:58] #25 closed, assigned to technogeek00

[2019-07-26 04:21] technogeek00 commented on #33
Fair enough, lets keep

[2019-07-26 04:21] #33 closed, assigned to technogeek00

[2019-07-26 04:24] #30 closed, assigned to technogeek00

[2019-07-26 04:26] technogeek00 commented on #22
Thomas has provided updates to address this awhile ago, closing tracked change.

[2019-07-26 04:26] #22 closed, assigned to haudiobe

[2019-07-26 15:08] technogeek00 commented on #34
Generally good updates, minor editorial fixes for IF-3, IF-8, and IF-4e to mark as informative

[2019-07-26 15:08] #34 closed, assigned to haudiobe

[2019-07-26 15:13] technogeek00 opened #44 "Minor diagram updates"
There are a few minor diagram updates left, capturing them here:

- Mark IF-3, IF-8, and IF-4e as informative
- Rename "Dynamic Ad Transcoding" => "Dynamic Ad Preparation"

[2019-07-26 15:15] technogeek00 commented on #26
Called out properly in latest draft

[2019-07-26 15:15] #26 closed, assigned to haudiobe

[2019-07-26 15:17] technogeek00 commented on #27
Agreed that the latest checks have gone over the texts thoroughly, we will open specific issues as needed.

[2019-07-26 15:17] #27 closed, assigned to RufaelDev

[2019-07-26 15:27] technogeek00 commented on #37
Diagram merged into text and updated to align with points we called out above.

[2019-07-26 15:27] #37 closed, assigned to haudiobe

[2019-07-26 15:34] technogeek00 commented on #38
Updates have clarified point, additional example of SCTE-35 advanced notice recommendation of 4 seconds. Call for additional clarification / examples by community review.

[2019-07-26 15:34] #38 closed, assigned to haudiobe

[2019-07-26 15:35] technogeek00 commented on #35
Updates completed, checked in call.

[2019-07-26 15:35] #35 closed, assigned to haudiobe

[2019-07-26 15:38] technogeek00 commented on #32
Updates accepted, additional examples can be provided via review

[2019-07-26 15:38] #32 closed, assigned to technogeek00

[2019-07-26 15:42] technogeek00 commented on #36
Section 1.2.6.2 created based on conversation, specified DASH-IF Ad Content format that contains format.

[2019-07-26 15:42] #36 closed, assigned to technogeek00

[2019-07-26 15:44] technogeek00 commented on #36
Note calling for additional restriction suggestions if the community would like them.

[2019-07-30 07:31] haudiobe commented on #43
The ad insertion CR currently seems very open ended in various ways. For example, should packager make periods or leave it to the manipulator? It says both are valid options. This will just lead to incompatible implementations. Pick one choice and stick with it. If both options seem valid, it is fine for this choice to be arbitrary - the end result is still better than offering a choice with no cl

[2019-07-30 07:33] haudiobe commented on #42
The latest version adds encoding option 3 to do so differently. It is still good to recommend that encoders so this, this aligns with CTA WAVE splice conditioning.

[2019-07-30 07:35] haudiobe commented on #41
The v5 timing model is good, but it does not mean that everyone always follows it. Gaps are a reality. So the sentence itself is not wrong.

[2019-07-30 07:36] haudiobe commented on #40
You need to look at the diagram and learn it. We may improve in the final one, but we should keep consistency

[2019-07-30 07:37] haudiobe commented on #39
We made it clear that early termination is not yet addressed

[2019-07-30 08:17] sandersaares commented on #41
Yes, non-interoperable content exists in the world. We should not spend DASH-IF contributor time and energy nor the guidelines' readers time and energy on caring about services that are not designed to provide interoperable behavior.

[2019-07-30 16:54] haudiobe commented on #42
Add a clear question into the document to ask if they prefer one solution?

[2019-07-30 16:57] haudiobe commented on #40
Two reasons:
- in editing it keeps more flexible
- scared of defining terms that may be more confusing
Ask community for names on the interface!

[2019-07-31 05:15] sandersaares commented on #42
My reading of the document was that it described different ways to precondition the stream. The fact that "don't precondition it" is an option is not obvious. So before any question can be raised, it needs to be worded much more clear.

Anyway, the experts in the ad insertion task force are the experts who have the knowledge to decide what is the right single interoperable way to do ad insertion.

[2019-08-02 13:44] technogeek00 commented on #40
I'm up for getting names from the community, but we can also attempt to better qualify interface references when they are made in the text.

[2019-08-02 13:44] technogeek00 commented on #31
Finished in last revision.

[2019-08-02 13:44] #31 closed, assigned to technogeek00

[2019-08-02 13:51] technogeek00 commented on #39
We could more explicitly call this out in 1.1.1.1:

Though I would suggest that we have covered VoD pretty thoroughly via the revisions, still we can formally consider it addressed in later revisions.

[2019-08-02 14:54] haudiobe commented on #42
We should make these two options
1) Stream Preconditioning
2) UNconditioned

[2019-08-09 15:30] haudiobe opened #45 "Event Streams across Period Boundaries"
We need more study on Events across Event Boundaries.
Two issues:
-	Event Stream continuity across Boundaries
-	Events with duration across Period boundary
One possible solution: Global and Local Event Streams.
Add a note here and continue to address it.

[2019-08-12 04:34] haudiobe commented on #44
Closed in version for community review

[2019-08-12 04:34] #44 closed, assigned to haudiobe

[2019-08-12 04:35] haudiobe commented on #42
addressed in version for community review

[2019-08-12 04:35] #42 closed, assigned to nobody

[2019-08-12 04:36] haudiobe commented on #43
addressed in community review

[2019-08-12 04:36] #43 closed, assigned to nobody

[2019-08-12 04:42] #39 closed, assigned to nobody

[2019-08-12 04:42] #41 closed, assigned to nobody

[2019-08-12 04:46] haudiobe opened #46 "Minimum splice point advance notice time"
Please provide feedback on:

"The minimum splice point advance notice time is known, i.e. the DASH packager gets a pre-notification or ad avail for a splice point that will be added to the media. This allows the DASH Packager to configure the minimum update period of the MPD properly. By this, the DASH client or MPD proxy requests the MPD in high enough frequency such that none of the announced Pe

[2019-08-12 04:57] haudiobe opened #47 "DASH-IF Query scheme for Decision (IF-4a) and Conditioning Parameters (IF-4b)"
The final version is expected to include well-defined query parameters. Input is welcome on:
- what query parameters?
- does anything exist already
and and and

[2019-08-12 04:59] haudiobe opened #48 "Requirements and Restrictions for Ad Content"
Ad Content is defined in clause 1.2.6.6. There are a set of restrictions and requirements. Please provide feedback if anything should be added, changed, etc.

[2019-08-12 05:02] haudiobe opened #49 "Event Streams in ads"
This issue discusses if we want to have Event Streams in Ad Content and if so, are there restrictions. Example is to permit beaconing, etc.

[2019-08-13 14:30] ZmGorynych commented on #45
Global streams would be helpful.
SCTE 35 cue messages can be "open" for much longer than the segments are available (e.g. program boundaries), and may span several periods

[2019-09-06 09:19] haudiobe opened #50 "DASH MPD would look like after SSAI has been done"
Dear all,

HbbTV is looking at expanding it's DASH-DRM reference app and content to include SSAI based on multi-period DASH. Since HbbTV is a device/player spec, it would not include the SSAI process but would include one or more DASH MPDs that are representative of what an MPD would look like after SSAI has been performed.

I've made a proposal of what I think an MPD might look like after SSAI (s

[2019-09-25 07:56] RufaelDev opened #51 "Addition of Pre-Roll into Live Case"
Pre roll into live is not covered in the current architecture,
the architecture would require
     - avails to be signalled before the presentation is started
     - introduce a large startup delay setting up the replacement content
     - different period boundaries will be needed for each user , overloading the manifest manipulator (poor cacheability)
     - lose connection with the server

[2019-09-25 07:59] RufaelDev opened #52 "Loudness/Volume constraints for transitions"
loudness/volume of audio could perhaps be added , what would be constraints for loudness ?
A different loudness could really be annoying to users.
what is the businessvalue of these use cases when codecs/tracks are changing compared to cloud transcoding ?
The sentence "However this can be handled at Period boundaries" what does this mean ?

[2019-09-25 08:04] RufaelDev opened #53 "Comment on 1.1.2"
Architecture diagram should align with live and common industry practice, encryption typically happens at packager, as media encryption is not needed and may make many workflows more difficult to realize. Common encryption is only for usage at clients, server side you can use non media specific encryption available in transport and storage. Update packager in diagram to include encryption function

[2019-09-25 08:21] RufaelDev opened #54 "Comments on 1.2.2"
This section explicitly states that IF-1 is out of scope, yet it contains some text regarding conditioning of splice points in CMAF content. It might be good to review this text more and consider moving this text to the ingest spec. In addition it may also be considered as proposal in MPEG CMAF, but I am not sure this group will be ready to adopt unproven technologies. It does not seem to fit very

[2019-09-25 08:32] RufaelDev opened #55 "Comments on 1.2.3."
Is a reference not sufficient for this section ? What about other playback platforms (especially legacy ones). Can this section be shortened and can there be some sentence about support for other platforms ? Should not any DASH player be able to playback the streams with ads inserted, would that not be a better goal ?

[2019-09-25 14:25] RufaelDev opened #56 "Comments on 1.2.4"
Refer to the IF-3 and SCTE-214 for the case packager does not create
multi-period. Right now the text only refers to IF-5, but it should refer
to IF-3 where this signalling is introduced. SCTE-214 is also the recommended approach in IOP 4.3.

Add more text on signalling splice points without multiperiod: e.g. explanation seems to have gotten lost in editing.

"In case a single period is used, spli

[2019-09-25 14:34] RufaelDev opened #57 "Comments on 1.2.5"
remove the paragraph

"While the carriage method is considered normative, the format of the metadata is workflow dependent. Examples of known schemes are provided in the subsequent sub-sections of this interface. For the purposes of this document, we will consider the carriage of opportunity metadata via SCTE-35 signalling sufficient, but other methods of equivalent means may be used"

it does not

[2019-09-25 14:49] RufaelDev opened #58 "Comments on 1.2.6"
This section seems rather descriptive, interfaces are not defined, merely the information types that are exchanged are presented.  Exception is section 1.2.6.6. which is interesting (separate issue). More details on recommended usage of IAB VAST and VMAP and SCTE 130 may also be useful, but atleast there is a reference.

Interfaces need be better defined, including for
More transcoding/conditionin

[2019-09-25 14:54] RufaelDev commented on #48
I like the proposed text, I would recommend being careful imposing to many things to be different as compared to the main content, as likely ad insertion preparation will use similar authoring tools as used for main content.

[2019-09-25 14:54] RufaelDev commented on #49
I believe this is good to have, perhaps both inband and mpd ?

[2019-09-25 14:57] RufaelDev commented on #46
4s was used in prior IOP v4.3, in many case MPD events will be available at the period start time which is much earlier than 4 seconds.

[2019-09-25 15:00] RufaelDev commented on #45
I am unsure how the global events would work as you will lose synchronization to the media timeline in case periods are added, modified etc. During call Thomas raised similar suggestion introducing event stream continuity. Signalling continuity for events makes sense, might be the default even. What kind of events would be signalled in global event streams ?

[2019-09-25 15:02] RufaelDev commented on #40
Lets spend time on improving the document, in the end, what is in a name, ETSI and 3GPP also use such numbering for their interop points I don't really see the problem.

[2019-09-25 15:12] RufaelDev opened #59 "Comments on 1.2.8"
This sections needs to be much more explicit on how to carry metadata such as VAST viewer impressions. I will try to prepare a proposal in order to address this. More work on this should have been done.

[2019-09-25 15:16] RufaelDev opened #60 "Comments on 1.2.9"
similar as https://github.com/Dash-Industry-Forum/AdInsertion/issues/47 I would expect there to be a well defined interface for query parameters on IF-7 referring to IF-4 does not help as it is not well defined there either.

1.9.2. this section looks ok, it may include an example

[2019-09-25 15:19] RufaelDev opened #61 "1.2.10"
This section would benefit if for example the ad metadata was well defined (IF-6) I would suggest solliciting more contributions on that.

[2019-09-25 15:25] ZmGorynych commented on #45
Global events need to be timed off @availabilityStartTime, /methinks.
The use case we have is "open" SCTE 35 events from previous periods where
all segments are already out of availability window. Conceptually this can
be viewed as "event history" of events with presentation time earlier than
the current period.
Additional use case can be when event duration spans multiple periods, b/c
a period wa

[2019-09-25 15:33] RufaelDev opened #62 "Check against IOP 4.3"
we need to check against what is in IOP 4.3 in ad insertion and embed missing things in the current CR in the right sections.

[2019-09-27 11:11] haudiobe opened #63 "PreRoll Ads"
PreRoll can be added to Server Side Ad Insertion.

Provide clear requirements on how a PreRoll can be added to a client joining a service.

[2019-09-27 14:43] haudiobe commented on #51
(AdIn 19/09/27)
Preroll may be supported for SSAI
- We need to do some more documentation how to do, possible
- Splice point preparation and splicing at the transition to main content
- How can the ad decision and preparation be done as quickly as possible.
Another option would be MPD chaining
Yet another option is to just not supported

[2019-09-27 14:45] haudiobe commented on #52
(19/09/27 AdIn TF): Add this to CR

[2019-09-27 14:51] haudiobe commented on #53
(AdIn 19/09/27)
Agree to move encryption packager.
Create separate delivery box for segments for both ads as well as main content.

[2019-09-27 14:57] haudiobe commented on #54
(19/09/27 AdIn) Bring this CMAF and discuss there - also bring this to Ingest.

[2019-09-30 14:13] acbegen commented on #48
I'd imagine in many cases, the ad content will actually be authored/encoded/packaged for the lowest common denominator in which case maybe those need to be stated clearly somewhere in our guidelines.

[2019-10-01 13:04] RufaelDev opened #64 "Support SCTE-35 time signal"
SCTE-35 2019 recommends usage of time_signal command. time signal introduces a higher level fragmentation content. Ad insertion needs to be more clear on how workflows using time_signal can be supported

[2019-10-01 13:16] RufaelDev commented on #51
particularly should be documented:
- How to signal the splice point in advance in this case ?
- How to select the splice point to splice back to main content when all users tune in at different time, thus different locations of splice points and linear increased number of different mpd's
- How can the ad decisioning workflow be ready in time to serve the ad
- Who got this working in practice ?
- W

[2019-11-08 05:43] technogeek00 commented on #55
At first read the additional specification can seem over stated, but considering the larger context of the splice conditions and the requirements a player must typically meet to achieve seamless playout in these workflows I think it is informative to explicitly call out the pieces. My only worry is omitting a requirement and having this list treated as stand-alone instead of a basis.

Ideally any

[2019-11-08 06:00] technogeek00 commented on #57
I believe the text is appropriate in framing the subsections as informational to the reader without being normative, we do not require or need to force the usage of SCTE-35.

The 1.2.5.2 (incorrectly noted 1.5.2.2) text better aligns with the CR as a whole than the text of 5.4.2 in IOP 4.3. Namely we've stated our normative requirement is usage of MPD Events instead of in-band events, providing th

[2019-11-08 06:04] technogeek00 commented on #58
I believe we added appropriate calls for information here, can you confirm?

[2019-11-08 06:06] technogeek00 commented on #59
Have you had a chance to prepare anything?

As this is the representation of VAST in DASH it may be more appropriate for the IAB to provide the mapping that they believe is appropriate. If we want to provide one we could define it and then request their review.

[2019-11-08 06:08] technogeek00 commented on #60
Per the last F2F we are looking at publishing this section as is and providing SGAI information as part of a secondary update. As we are already in CR for this version I would like to keep this path as we need significant study to properly fill in this section, but what do others think?

[2019-11-08 06:10] technogeek00 commented on #61
Seems like addressing #58 would properly address this, lets focus discussion there. Feel free to re-open if you have additional thoughts.

[2019-11-08 06:10] #61 closed, assigned to nobody

[2019-11-08 06:14] technogeek00 commented on #63
Are you referring to the PreRoll element? We can bring this in as an additional subsection of IF-5

[2019-11-08 06:25] technogeek00 commented on #56
On multi-period: The document as written encourages period creation and defers late period creation to IF-5, but I don't think IF-5 necessarily picks up everything it needs to. We can restore more information but instead of referencing SCTE-35 directly we should state that single period output may be made into multiple periods by having IF-5 consume splicing indicated via IF-3.

On initialization

[2019-11-08 06:28] technogeek00 commented on #62
I'll take the task of detailed comparison

[2019-11-08 06:29] technogeek00 commented on #64
Do you have more specifics on where we should explicitly ad this in? As part of scte examples on IF-3 or general workflow descriptions on IF-0?

[2019-11-08 14:20] unifiedstreaming commented on #59
I looked at it again, I think the text is rather brief but sufficient

[2019-11-08 14:25] unifiedstreaming commented on #57
I think you don't fully understand, there is no force to use SCTE-35, it was used in IOP v 4.3, and keeping it defined as normative is key for backward compatiblity. I am fine adding other optional interfaces, but stating only the usage of MPD events as normative does not make any sense. If every new IOP breaks everything in the prior one no one will follow DASH-IF IOP anymore.

[2019-11-08 15:27] haudiobe commented on #51
(AdIn 19/11/08) PreRoll or Server Guided. We can do both. Wait for proposal.

[2019-11-08 15:43] haudiobe commented on #55
(AdIn 19/11/08) No specific issue, wait for detailed comments.

[2019-11-08 15:52] haudiobe commented on #56
Two ways to signal splice points:
1) Every splice point is associated with a Period and MPD Proxy may remove Periods is not splicing happens
2) Live content does not specify Periods, but only well-defined IF-3 metadata (with conditioning information) and then MPD Proxy adds Period when doing splicing

Add both options.

Do we need some IF-3 specific metadata that describes the option? Signal the t

[2019-11-08 16:01] haudiobe commented on #57
(AdIn 19/11/08 TF) The text brings in SCTE.

Want to avoid MPD Proxy parsing emsg. Improve the sentence.

[2019-11-18 17:19] wilaw opened #65 "Unacceptably large manifest size for long DVR windows with many ad avails."
[Filed on behalf of Janusz Szalapata]
We are working on ads and have hit a bit of an issue with the manifest size. When we add ads periods to the manifest – the size of the manifest grows more than 10x which then poses an issue for players.
Do you know if there are any plans within DASH community to implement a solution similar in terms of benefits to what Roger proposed with Playlist Delta (or wh

[2019-11-18 17:41] wilaw commented on #65
DASh IOP group is looking at 3 potential solutions

- Patches
- XLINK for older periods
- Event stream that indicates that you can have a period at that point.

[2019-11-22 15:07] haudiobe commented on #55
(AdIn 19/11/22) No comments received - close issue

[2019-11-22 15:07] #55 closed, assigned to nobody

[2019-11-22 15:08] haudiobe commented on #59
(AdIn 19/11/22) No comments received - close issue

[2019-11-22 15:08] #59 closed, assigned to RufaelDev

[2019-11-22 15:08] haudiobe commented on #60
(AdIn 19/11/22) No comments received - close issue

[2019-11-22 15:08] #60 closed, assigned to nobody

[2019-11-22 15:49] haudiobe commented on #65
(AdIn 19/11/22) DAZN creates manifest and gives it to Google for Ad Insertion.

We looked at manifest and there are obvious optimization opportunities. But still, we would like to have a clear set of recommendations/requirements for interop.

- Patches: would allow to describe back buffer once, but live once. Ad Insertion less simplified. We need to think through how Ad Insertion is combined with

[2019-11-22 15:53] technogeek00 commented on #65
SCTE links for the group:
- SCTE-35 2019r1 - [Digital Program Insertion Cueing Message](https://www.scte.org/SCTEDocs/Standards/ANSI_SCTE%2035%202019r1.pdf)
- SCTE-214-* - MPEG DASH for IP-Based Cable Services
  - Part 1 (SCTE-214-1 2015) - [MPD Constraints and Extensions](https://www.scte.org/SCTEDocs/Standards/ANSI_SCTE%20214-1%202015.pdf)
  - Part 2 (SCTE-214-4 2018) - [SCTE Common Intermediate

[2019-11-22 15:53] haudiobe commented on #58
(AdIn 2019/11/22) Remain call for input on this matter in the final document for the next version.

[2019-11-22 16:00] haudiobe commented on #63
(AdIn 2019/11/22)
- preroll means start over after joining (no state for the client, one and one) => add this to use case
- limiting the timeshift to join time is not supported => exclude
Investigate PreRoll

[2019-12-06 15:32] haudiobe commented on #64
time_signal: is an arbitrary marker that some things gonna happen. Metadata can be added what this all means. You use the marker gives a notification event to check other source of information. It does not mean that it is conditioned, but it should be conditioned.

The main reason for this brought up is that a Period is not a sufficient marker for the time_signal. You need to signal SCTE-35 as wel

[2019-12-09 06:29] technogeek00 opened #66 "IF-2 MPD@availabilityStartTime"
We call out in the initial MPD

Should this be a *fixed* arbitrary value instead of just an arbitrary value?

[2019-12-09 07:23] technogeek00 commented on #62
I've collected a set of comparisons after a detailed re-reading of IOP v4.3 Clause 5 (4.3 Text) and the latest Ad Insertion CR (CR Text), but generally the CR text either meets or exceeds the specification of the 4.3 text. As expected the CR text heavily changes the structure of information to isolate interfaces within the ad insertion workflow and describe the interface implementations and intera

[2019-12-09 07:24] technogeek00 commented on #56
@haudiobe re-assigning to you as it looks like you are providing these updates in doc. If not please feel free to ping me.

[2019-12-09 07:34] technogeek00 commented on #57
Text reworded for clarity, from:

to:

[2019-12-11 01:55] haudiobe commented on #62
(2019/12/10 Pre-Meeting)
On Q1: Yes
On Q2: we can, but not the primary workflow.
On Q3: Carry over - add to MPD towards the client.

[2019-12-11 01:56] haudiobe commented on #66
Yes, please do so.

[2019-12-11 01:58] haudiobe commented on #57
accepted

[2019-12-11 01:58] #57 closed, assigned to technogeek00

[2019-12-11 02:02] technogeek00 opened #67 "Latency of Operations in Architecture"
We should further explore the latency overhead of the various operations within the architecture and possibly supply operation suggestions in a revised document version.

[2019-12-11 02:24] technogeek00 commented on #46
(2019/12/10) Detailed basics around value and referenced 4s from SCTE

[2019-12-11 02:24] #46 closed, assigned to nobody

[2020-01-31 06:12] technogeek00 commented on #66
Updated in CR

[2020-01-31 06:14] technogeek00 commented on #65
Would we recommend pushing this into the second iteration of this document as both Patches and XLink are being considered for the later SGAI architecture? Additionally I think the MPEG ad-hoc's work will likely provide better definition on direction here that we should follow in the IOP

[2020-01-31 06:16] technogeek00 commented on #64
It looks like this could be folded this into #65 for splice condition signalling downstream, this is something we still intend to address but we've determined SCTE alone is not enough. The MPEG ad-hoc on ad insertion is discussing this topic.

[2020-01-31 06:57] technogeek00 commented on #62
Updates:

1. CSAI called out in introduction as a Note (1.1.3)
2. As part of #57 we reaffirmed not including `emsg`, I'd argue bringing in the graphic would be more confusing than helpful and as such I suggest we don't port it
3. Brought into Table 1/2/3 and descriptive paragraphs for 1/2

[2020-01-31 06:59] technogeek00 commented on #53
We have a secondary arrow but no box, did we still want to do that?

[2020-01-31 07:02] technogeek00 commented on #50
Did we ever get a link to the example? If this call is still out and the group agrees on what to provide I can generate said manifests.

[2020-01-31 07:07] technogeek00 commented on #48
The following bullet is in the Ad Content section, do we feel this is enough to address @acbegen 's comment?

[2020-01-31 07:08] technogeek00 commented on #45
The MPEG ad-hoc is picking up the global event stream work, should we defer this until that work is completed and pull in the result?

[2020-01-31 10:39] ZmGorynych commented on #45
Sure!

On Fri, Jan 31, 2020, 00:08 Zachary Cava <notifications@github.com> wrote:

[2020-01-31 15:57] #58 closed, assigned to haudiobe

[2020-01-31 15:58] technogeek00 commented on #56
Implemented in CRv4 document

[2020-01-31 15:58] #56 closed, assigned to haudiobe

[2020-01-31 15:58] technogeek00 commented on #54
Brought into CRv4

[2020-01-31 15:58] #54 closed, assigned to haudiobe

[2020-01-31 16:02] #62 closed, assigned to technogeek00

[2020-01-31 16:02] #66 closed, assigned to technogeek00

[2020-03-13 13:17] RufaelDev commented on #65
I still have some support for thomases proposal on event stream, as it would allow the multi-period to be created based on events carried in the manifest, this could effictively reduce the size of the manifest a lot. To not hold up the problem more for ad insertion CR, perhaps move this to Multi-Period CR.

[2020-03-13 13:19] RufaelDev commented on #64
a useful reference: https://mediaperspectives.nl/app/uploads/2018/11/2019-01-29-Media-Perspectives-ETDSS.pdf

[2020-03-13 13:26] RufaelDev commented on #63
Will the CR support the pre-roll element in the new MPEG DASH amendment ?

[2020-03-13 13:27] RufaelDev commented on #53
It looks ok to me now

[2020-03-13 13:34] RufaelDev commented on #45
How about just recommending use of presentationTimeOffset in event streams, and re-signalling events in each period ? adding presentationTimeOffset to EventStream was an important fix in amendment 5. Creating a new global event stream causes more confusion around this topic. I am also ok with having event stream continuity cross boundaries

[2020-03-13 13:51] RufaelDev commented on #52
I added a bullet, it may be good to add a note to the document and sollicit further input from audio experts or people working in this area.

[2020-04-28 14:30] pgendron-harmonicinc opened #68 "Comments on section 1.1.3 Architectures"
The figure 1 provides an architecture overview for both SSAI and SGAI but this can create some complexity of understanding for people not mastering the two options .

- Some interfaces may be used only in the case of SGAI ( IF -7 and may be others).  Would that make sense to make this more explicit either in the section for each interface or in the drawing ?
- There are also different colors for t

[2020-04-28 17:23] pgendron-harmonicinc opened #69 "Comments on section 1.2.2 IF-1 : packager ingest"
in this section 3 options are described for the media at the splice points. Nothing is said here on the prevalence on such or such option. But on the section 1.2.4 (IF2-Content preparation) there is a sentence saying that alt least one media type ( generally video) should follow content conditioning according to Option1.
wouldn't be clearer to add a statement on section 1.2.2 saying that although

[2020-04-29 13:02] pgendron-harmonicinc opened #70 "Comments on section 1.2.6 IF-4 Ad Decisionning and Exchange Interfaces"
The breakdown into several IF-4x interfaces with different purpose is interesting and should clarify the global workflows but it might need a bit more description of the processes involved when the Proxy initiate the call.

- May be in the Introduction section and before going into the details for each interfaces in the subsequents sections that would be  good to have either a text or a drawing th

[2020-04-29 13:18] pgendron-harmonicinc opened #71 "comments on section 1.2.6.2 IF-4a Ad decision request parameters"
This interface seems to be described as a unidir interface as the answers from the Ad decision servers seems to go to the Ad Content server through IF-4e. Is that true ? there is no feedback to the Proxy ??

In that case the description of IF-6 -Ad metadata says :

needs to be clarified

[2020-04-29 13:25] pgendron-harmonicinc opened #72 "Comments on section 1.2.6.3 IF-4b content conditionning request parameters"
Should we replace ''Ad content Server'' by ''Dynamic Ad Preparation'' in the following ?

[2020-04-29 13:44] pgendron-harmonicinc opened #73 "comment on section 1.2.6.5 IF-4e Ad Selection Result format"
Seems strange to me that the the ADS answer goes only to the Ad content server and not back to the proxy, but i am not an ad insertion expert ;-)

Last sentence of 1.2.6.5.1 says

but in the following sections  VAST and SCTE130 are presented as two possible alternative.

Should we be a bit more prescriptive saying that Vast is the preferred option for DASH-IF because giving too many options, even

[2020-04-29 17:30] pgendron-harmonicinc opened #74 "Comments on section 1.2.6.6 IF-4d : DASH-F Ad Content Storage format"
This interface describes a DASH formatted content that should go through the Dynamic Ad Processing box before going to the proxy through the IF-4C. But If my understanding is correct there is no mention of the possibility that the Ad Content can be available only on a mezzanine format or generally not at the right format/codec and should therefore be transcoded/processed in the next box.
This may

[2020-04-30 07:34] pgendron-harmonicinc opened #75 "Comments on section 1.2.6.7 IF-4c"
reading the description of the interface, it looks like the Dynamic Ad content delivered by the Dynamic Ad processor is a filtered version of the Ad Content (IF-4d). There is no mention that the Ad content could be transcoded 'on the fly'' in the Processor box. See also comment on IF-4d #74

[2020-04-30 07:49] pgendron-harmonicinc opened #76 "Comments on section 1.2.7.1 - IF-5 overview"
There might be some typo here ::

Dynamic Ad content is described in interface IF-4c / in section 1.2.6.7, and in interface IF-4d / in section 1.2.6.6 but not in IF-4b (conditioning parameters)

[2020-04-30 08:00] pgendron-harmonicinc opened #77 "Comment on section 1.2.8 IF-6 Ad metadata signaling"
in the introduction, the following sentence

makes me think that the proxy receives an answer from the Ad decision Server through interface IF-4a that should then be bidirectional , although this is not so clear. Can you clarify this ?

[2020-04-30 10:16] pgendron-harmonicinc opened #78 "Comment on section 1.2.9 IF-7"
Absolutely not critical (because once you have read the section you can understand it) but, if this interface is present only on a SGAI architecture and make no sense in SSAI, this could be stated at the very beginning of this section.

[2020-04-30 10:24] pgendron-harmonicinc opened #79 "Comment on section 1.2.10 IF-8 Ad tracking and measurement"
There is some ambiguity in the introduction of this section where it is written that ad tracking and measurement integration is workflow dependent and therefore out of the scope of the document, but still some mechanism are briefly presented.
Should DASH-IF express some recommendation on possibly ''better''/more future proof  solution between 1.2.10.2 and 1.2.10.3?

[2020-05-15 15:58] haudiobe commented on #68
_Some interfaces may be used only in the case of SGAI (IF -7 and may be others). Would that make sense to make this more explicit either in the section for each interface or in the drawing ?_

As the document is written, it is correct. But you can use IF-7 also SSAI. So this should be documented more explicitly. (Zach)

_There are also different colors for the interfaces with no explanation of the

[2020-05-22 15:30] technogeek00 commented on #78
Follows discussion in #68

[2020-05-22 15:34] technogeek00 commented on #79
We actually reached out to IAB to clarify this point as it was previously VAST/VMAP, their feedback was to remove VMAP and include Open Measurement, these specifications would not be mutually exclusive and could be used going forward. IAB is considering further description of Open Measurement in DASH, but the details are left to them to solve.

[2020-05-22 15:36] technogeek00 commented on #77
Hmm the directionality of flow in the ad interfaces dont directly follow the practical implementation, more discussion needed on call.

[2020-05-22 15:39] haudiobe commented on #69
(2020/05/22): From IOPv5 this is carrying through. So we should make this part of the profile "good content option".

[2020-05-22 15:42] technogeek00 commented on #76
Numbering was rearranged without all text updates, needs fix.

[2020-05-22 15:46] haudiobe commented on #70
(2020/05/22): Put a box around all IF-4. 2 inputs/1 output. Describe this in intro.

[2020-05-22 15:48] haudiobe commented on #71
merged with #70

[2020-05-22 15:48] #71 closed, assigned to nobody

[2020-05-22 15:50] haudiobe commented on #72
(2020/05/22): Does not have to transcode, but it is an option. Diagram is correct. No changes needed. Make sure that the text is explaining that transcoding is an option.

[2020-05-22 15:54] haudiobe commented on #73
(2020/05/22): We do not even have to assume VAST, does not provide benefit. Better provide what the functionality is that need and say how VAST and SCTE130 provide the functionality as an example. We say that we assume that this functionality is available (and we can write this as MUST for an external system).

[2020-05-22 15:55] haudiobe commented on #74
(2020/05/22): Ok, add this description.

[2020-05-22 15:56] haudiobe commented on #75
merged with #74

[2020-05-22 15:56] #75 closed, assigned to nobody

[2020-05-22 15:58] haudiobe commented on #77
(2020/05/22): Agreed, improve description,

[2020-05-22 15:59] haudiobe commented on #78
merged in #68

[2020-05-22 15:59] #78 closed, assigned to nobody

[2020-05-29 15:54] haudiobe commented on #70
(IOP 20/5/29) Zach's part resolved

[2020-05-29 15:54] haudiobe commented on #72
(IOP 20/5/29) Thank you Zach

[2020-05-29 15:54] #72 closed, assigned to technogeek00

[2020-05-29 15:55] haudiobe commented on #73
(IOP 20/5/29) Thank you Zach

[2020-05-29 15:55] #73 closed, assigned to technogeek00

[2020-05-29 15:55] haudiobe commented on #76
(IOP 20/5/29) Thank you Zach

[2020-05-29 15:55] #76 closed, assigned to technogeek00

[2020-05-29 15:55] haudiobe commented on #77
(IOP 20/5/29) Thank you Zach

[2020-05-29 15:55] #77 closed, assigned to technogeek00

[2020-05-29 15:57] haudiobe commented on #79
(IOP 20/5/29) No actions in the document - are we good to close? If no comments until next call we will do so

[2020-09-04 08:25] technogeek00 commented on #49
We accepted both forms into the document, closing as complete

[2020-09-04 08:25] #49 closed, assigned to nobody

[2020-09-09 14:52] RufaelDev opened #80 "recommend usage of EventStream@presentationTimeOffset for SCTE-214"
As scte events typically continue across the entire presentation, we should recommend the use of EventStream@presentationTimeOffset, this allows scte information to be re-signalled in the ad-period or scte events starting in a previous period or future period,  this can be supported today, is consistent with the media.

[2020-09-09 15:05] RufaelDev opened #81 "Remove InitializationSet requirement"
I recommend to remove any requirement for initialization set as it does not make much sense

- no one uses this
- you cannot initialize multiple decoder pipes for the same stream anyways
- you dont know in advance anyway what initialization segs will be needed
- there is no need to introduce state between periods/manifest hampering ad insertion workflows

[2020-09-18 15:17] technogeek00 commented on #80
The guidelines as written actually expect the usage of this based on suggested mapping of SCTE to EventStream, need to provide entry in table and minor description as part of Period creation at splice points and event stream copying for insertion of ads.

[2020-09-18 15:38] technogeek00 commented on #81
From 9/18 Call:
- InitializationSet utility not apparent in document
- Clarification that proxy can utilize to better condition and that clients or streams without ad insertion do not need to utilize these functionalities
- Potential of a "minimal initialization set" that could be described, need to check details on functionality

Note: 5.3.12 MPEG 23009-1 4th Edition

[2020-10-02 14:39] technogeek00 commented on #80
Thanks to @haudiobe for implementation

[2020-10-02 15:15] technogeek00 commented on #80
Closed implementation in 2020/10/02 call

[2020-10-02 15:15] #80 closed, assigned to technogeek00, haudiobe

[2020-10-02 15:15] technogeek00 commented on #81
Closed implementation in 2020/10/02 call

[2020-10-02 15:15] #81 closed, assigned to technogeek00, haudiobe

[2020-10-16 15:36] technogeek00 opened #82 "IF-6 VAST Signalling Method"
The `https://dashif.org/identifiers/vast30` scheme, defined in DASH IOP v4.3 Section 5.3.3.7, describes the carriage of an entire VAST response as part of a single Event element which can then be picked up by a library within the application client that parses out and handles the eventing.

As part of the Ad Insertion CR we do not carry through the recommendation of full payload insertion, instead

[2020-10-16 15:38] technogeek00 commented on #82
fyi @haudiobe @RufaelDev

[2020-11-02 17:25] haudiobe commented on #82
If no comment is received by Nov 9, 2020 call, we leave this as is.

[2020-11-06 13:15] RufaelDev commented on #82
Some comments/observations:

1. In general adding VAST is not easy as URL's tend to expire quickly
2. Defining something else to do reporting with a custom scheme makes some sense
3. we are not really using this at the moment, are we sure others are not using this
4. Is DASH-IF ok that other third parties will define these URL's that imply certain player behavior to do the reporting, i.e. no
   re

[2020-11-06 16:12] haudiobe commented on #82
IOP TF 2020/11/06:
* We add a note to the updated version indicating that we removed a feature from previous iop version
* Issue will be closed to keep track of the discussion

[2021-03-12 18:45] ronak2121 opened #83 "Server Guided Ad Insertion & TimeLine Manipulation for VOD Usecases"
Hi,

We are investigating Server Guided Ad Insertion (SGAI) in the latest DASH-IF specifications for our dynamic + personalized ad use cases and we had several questions/concerns that we were hoping to get addressed by the standards board:

1. Our ads will have to be personalized for each user. I may not see the same ads you see. If the player is resolving xlinks to get to ads, we have to have a w

[2021-03-16 03:07] ronak2121 commented on #83
FYI @haudiobe

[2021-03-19 22:29] ronak2121 commented on #83
FYI @technogeek00

[2021-03-24 06:19] technogeek00 commented on #83
Hi Ronak! Sorry for the delay to your questions some initial thoughts I would have:

There is a direct expectation that request customization will be needed to take common / cached responses and make them user specific. Within the frameworks of DASH that exist the potential mechanism is the UrlQueryInfo/ExtUrlQueryInfo/ExtUrlHeaderInfo elements. These are described in Annex I of the DASH specifica

[2021-03-24 19:23] ronak2121 commented on #83
some things I think would be good for you to add to the spec:

1. Standard way to signal "this is an ad" that would work cross-player.
2. We can use Events to embed metadata about the ads; i.e. show a button with this text; show this picture. Is that the recommendation?

Having all this defined in the spec; is easier to influence 3P devices & players supporting streams that are powered this way.

[2021-03-25 21:18] ronak2121 commented on #83
@technogeek00

Other things I can think of:

1. How should fast forwarding be handled? i.e. if a user skips past all of the xlink periods, how would we force resolution of one of the ad periods?
2. How will the protocol help with communicating whether the ad could be skippable or not?

[2021-04-16 15:19] technogeek00 commented on #83
On the first two:

Good callout, this is underspecified as is and should be straightforward

Yep that is the recommendation as it stands.

These are good questions and I think they are addressed together, this may tie in with signalling what is and isnt an ad as well. perhaps there is a signal of intent by the author around skip enforcement. Typically this is delegated to application logic above t

[2021-04-30 13:51] RufaelDev opened #84 "Asset identifier event for sub parts of the period"
Current asset identifier is on the period level, for some burned in
ads or changes within the period this is not sufficient,
an event scheme with equivalent signaling is proposed to mark the asset identification of those parts:

    <EventStream
      schemeIdUri="urn:smpte:ul:060E2B34.01040101.01200900.00000000"
      timescale="1">
      <Event
        presentationTime="1615563936"
        durat

[2021-04-30 15:06] technogeek00 commented on #74
In published document https://dashif.org/docs/CR-Ad-Insertion-r8.pdf

[2021-04-30 15:06] #74 closed, assigned to haudiobe

[2021-04-30 15:07] technogeek00 commented on #70
https://dashif.org/docs/CR-Ad-Insertion-r8.pdf

[2021-04-30 15:07] #70 closed, assigned to haudiobe

[2021-04-30 15:07] technogeek00 commented on #69
Addressed in published document https://dashif.org/docs/CR-Ad-Insertion-r8.pdf

[2021-04-30 15:07] #69 closed, assigned to haudiobe

[2021-04-30 15:07] technogeek00 commented on #68
Addressed in published document https://dashif.org/docs/CR-Ad-Insertion-r8.pdf

[2021-04-30 15:07] #68 closed, assigned to technogeek00, haudiobe

[2021-04-30 15:08] technogeek00 commented on #53
Addressed in published document https://dashif.org/docs/CR-Ad-Insertion-r8.pdf

[2021-04-30 15:08] #53 closed, assigned to haudiobe

[2021-04-30 15:15] technogeek00 commented on #51
#63 and #83 related

[2021-04-30 15:16] #40 closed, assigned to nobody

[2021-04-30 15:18] technogeek00 commented on #47
Description added for IF-4, IF-7 will expand as part of next iteration

[2021-04-30 15:18] #47 closed, assigned to nobody

[2021-04-30 15:19] #48 closed, assigned to nobody

[2021-04-30 15:51] #82 closed, assigned to haudiobe

[2021-05-03 08:49] mokojo200 commented on #84
Sounds like a way of solving this issue especially for Barker channels , and clients that do not handle Multi period that well

[2021-05-07 05:31] #79 closed, assigned to nobody

[2021-05-07 05:54] technogeek00 commented on #52
This was fully implemented in the released document

[2021-05-07 05:54] #52 closed, assigned to haudiobe

[2021-05-07 12:01] RufaelDev commented on #83
Hi @Ronak2121 , thanks for raising these points I created an issue to extend the use of AssetIdentifier https://github.com/Dash-Industry-Forum/AdInsertion/issues/84 to use in MPD Events, that would allow explicit signalling that a piece of the content is an ad by using an MPD Event, in addition I setup a sample stream with AssetIdentifier with ad-id https://pl8q5ug7b6.execute-api.eu-central-1.amaz

[2021-05-07 14:34] RufaelDev commented on #45
To be constructive and try to progress this some proposed text for the document:

In case opportunity data crosses a next period, the following is recommended:

An EventStream Element with same schemeIdUri, value and timescale attributes is present in the next Period.
The EventStream Element in the next period shares a common anchor, such as Unix Epoch 1-1-1970 or another shared anchor. This ancho

[2021-05-14 15:36] haudiobe commented on #45
DASH-IF IOP 2021/05/14:
- For MPD Event:
   - Repeat the Event, signal the `@presentationTimeOffset` - similar as a media segment.
   - need to signal that the Event is continued. Is this not clear by the Event Stream?
   - We may need to define an Event Stream identifier that allows to indicate that the Event@ids continue across.

[2021-05-14 15:43] haudiobe commented on #65
DASH-IF IOP 2021/05/14:
- MPD Event is defined that says that you can add a Period at this point.
[m55280_Period Event.zip](https://github.com/Dash-Industry-Forum/AdInsertion/files/6479790/m55280_Period.Event.zip)

[2021-10-01 15:15] haudiobe commented on #84
Makes sense - should  be implemented somewhere. A proposal would be nice @RufaelDev

We should also permit to change Assets whenever there is a virtual Period event - this should be added to the Amd.2 of MPEG-DASH @haudiobe.

[2022-04-29 13:11] Gheri commented on #83
@technogeek00 is hulu player open source ?/
I wanted to check how XLink on Request is implemented on Player side.

[2022-05-06 10:10] Gheri commented on #83
@technogeek00 @ronak2121  If I understood correctly, Hulu has been following HLS interstitial way of resolving XLink. Using separate players for content and ad. Signaling of content and ad is done using Event data in MPD.
Also Another thing I was trying on Shaka Player was If Remote Period (referring XLink onRequest) has duration then I would have duration of entire playback in the start and would

[2022-05-06 21:34] technogeek00 commented on #83
Minor correction, the Hulu player is DASH based and performs X-Link within a single player instance with one buffer per elementary stream type. The same concept can be extended to HLS Interstitials so that you do not use two players, its actually very impractical to use two players.

The duration on the placeholder period with xlink decoration has no relation to the result, there is no requirement

[2022-05-13 08:43] Gheri commented on #83
Thanks @technogeek00 for the info. I think once the player knows if its ad or content, content and ad timeline would be independent.  This is what you mean right. Once ad starts, player timeline would reset to 0 - (break duration) and when ad completes, player timeline would resume from last viewing time.
Thanks once again for helping me understand all these things. Hopefully will get chance to wo

[2022-05-16 10:37] Gheri commented on #83
@technogeek00 two things which are implicit but clarifying with you.
1. In the above comment you had mentioned that it would be unique request for xlink / patch so you have ExtUrlQueryInfo defined at Period level (xlink period). I did not find example for period level in dash spec doc (https://dashif.org/docs/DASH-TAC-v1.0.htm#_Toc532379025).
2. Also, there is not something like headerParamSource